.App {
  display: inline-grid;
  grid-template-columns: auto auto;
}

.msg {
  margin-left: 50px;
  font-size: 20px;
}

.display {
  grid-column: 2;
  display: grid;
  grid-template-rows: auto auto;
  width: 700px;
  height: 300px;
  margin-top: 250px;
  margin-left: 250px;
  /*margin-right: 100px;
  margin-bottom: 150px; */
  /* border: 2px solid red; */
  font-size: 80px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  font-size: 100px;
  margin-left: 30px;
}

.btn {
  margin-top:100px;
  margin-left: 30px;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  height: 70px;
  width: 200px;
  color: aliceblue;
  font-weight: bold;
  background-color: teal;
}

.btn:hover{
  border: 10px solid aliceblue;
}



.links {
  height: 50px;
  width:250px;
  margin-left: 45px;
  font-size: 30px;
  color: teal;
  /* border: 2px solid blue; */
  font-weight: bold;
}

a {
  color: teal;
  text-decoration: none;
}

a:hover{
color: whitesmoke;
}
