body{
  background-color: rgb(26, 26, 28);
  color: white;
}
.over{
  margin-top: 60px;
  color: indianred;
}

.hide {
  margin-top: 60px;
  color: rgb(26, 26, 28);
}
.fix-grid {
  grid-column: 1;
  display: grid;
  grid-template-rows: auto auto;
  width: 515px;
  height: 600px;
  /* margin-top: ; */
  margin-left: 100px;
  /* margin-: 0px; */
  /* border: 2px solid green; */
}

.fix-grid1 {
  display: grid;
  grid-template-rows: auto auto;
  width: 515px;
  height: 600px;
  /* margin-top: 30px; */
  margin-left: 100px;
  /* border: 2px solid green; */
}
.grid-container {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto;
    padding: 20px;
    border-radius: 20px;
    /* margin-top: 50px; */
    /* margin: 100px; */
    /* border: 2px solid black; */
    width: auto;
    height: auto;
    background-color: rgb(57, 145, 130);
    box-shadow: 3px 3px 5px 6px black;
  
}
  
  .grid-item {
    border: 8px solid rgb(211, 209, 222);
    border-radius: 20px;
    background-color: rgb(211, 209, 222);
    margin: 10px;
    padding:20px;
    width: 125px;
    height: 125px;
    font-size: 80px;
    text-align: center;
  
  }


  .grid-item.hover:hover {
      background-color: rgb(173, 216, 230);
      border-color: #ffffff;
  }

  .gsel {
    border: 8px solid white;
    margin-left: 5px;
    background-color: rgb(15, 150, 118);
    border-radius: 40px;
    color: white;
    padding: 60px;
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
  }

  .reset {
      padding: 20px;
      margin-top: 30px;
      border-radius: 60px;
      padding: 40px;
      border: none;
      width: auto;
      background-color: indianred;
      font-size: 30px;
      color: white;
      /* margin-left: 50px; */
  }

  button:hover{
    opacity: .8;
  }
